<% if @user.avatar.present? %>
  <%= image_tag @user.avatar, alt: "avatar", width: 50 %>
<% end %>
<h2>
  <%= @user.inspect %>
</h2>
<% if @user == current_user %>
  
  <% if can?(:create, Reception.new) %>
    <%= link_to 'Create a new reception', users_new_reception_path %>
    <%= link_to 'List of receptions', users_index_receptions_path %>
    <br>
  <% end %>

  <%= link_to "Edit", edit_user_registration_path %>
<% end %>