<h2>Create reception</h2>

<%= form_for(@reception, url: users_create_reception_path, data: { turbo: false }) do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :doctor %><br />
    <%= f.select :doctor_id, grouped_options_for_select(@grouped_options) %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
  <br>
  <%= link_to "List of receptions", doctors_index_reception_path %>
<% end %>
